etl_copy.ipynb
fraudenv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
logs/
scheduler/
airflow.db
.env
airflow.cfg
dataset/raw/
dataset/processed/
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
airflow_home/
airflow_data/
airflow.db

